.header-content{
    background-color: white;
}

body{
    background-color: #F7F7F7;
}
.body-header{
    font-size: large;
    margin-top: 20px;
    color: #42515F;
    font-weight: bold;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    text-transform: capitalize;
    display: flex;
    flex-direction: row;
}
.add-contact-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 2px 5px;
    padding-right: 10px;
    background-color: #008cff;
    color: white;
}

.table-wrapper{
    display: flex;
    justify-content: center;
}

.table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 15px;
    min-width: 800px;
    padding: 0 9%;
}

td,th{
    text-align: left;
    padding: 5px 8px;
}

tr{
    background-color: white;
}

th{
    background: #F7F7F7 0% 0% no-repeat padding-box;
    border-radius: 3px 3px 0px 0px;
    text-align: left;
    font: normal normal medium 18px/24px Roboto;
    letter-spacing: 0px;
    color: #658292;
    text-transform: capitalize;
    opacity: 1;
    border: 0px solid #dddddd;
}