.header-content{
    padding: 15px 105px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#icon{
    width:40px;
}

.icon-text{
    display: flex;
    flex-direction: column;
    font-size: large;
    font-family: Montserrat;
    font-weight: bold;
}

.address{
    text-transform: uppercase;
    color: #008cff;
}

.book{
    text-transform: uppercase;
    color: #42515f;
}

.form-wrapper{
    background-color: #F7F7F7;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.form{
    padding-top: 0px;
    width: 60%;
    flex-direction: column;
    background-color: white;
}

.form-header{
    display: flex;
    flex-direction: row;
    height: 10%;
    background-color: #008cff;
    margin-bottom: 30px;
    align-items: center;
}

.form-header-text{
    width: 100%;
    color: white;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
}

.close-image{
    margin-right: 15px;
    border-radius: 50%;
    height: 26%;
    background-color: white;
    cursor: pointer;
}

.row-content{
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 20px;
}

.text{
    font-size: 12px;
    margin-bottom: 0px;
}

.name-error{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

input{
    margin-top: 5px;
    height: 35px;
    width: 100%;
}

.text-error{
    font-size: small;
    color: red;
}

select{
    margin-top: 5px;
    margin-bottom: 15px;
}


#address{
    margin-top: 10px;
    height: 100px;
    width: 100%;
}

.row{
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    /* overflow: hidden; */
}

.row .row-column{
    display: flex;
    flex-direction: column;
    width: 164px;
    /* box-sizing: border-box; */
    /* flex-wrap: wrap; */
    margin-right: 20px;
}

.row:nth-child(3){
    margin-right: 0%;
}

#city,#state{
    height: 35px;
}

.button-right{
    justify-content: flex-end;
    padding-right: 20px;
}

.button{
    background-color: #E2E2E2;
    border: none;
    padding: 10px 50px 10px 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

@media screen and (max-width:700px){
    .header-content{
        padding-left: 30px;
    }
    .button-right{
        justify-content: center;
    }
}

@media screen and ( min-width:20px) and (max-width:300px){
    .button{
        padding: 10px 10px 10px 10px;
    }
    .button-right{
        justify-content: center;
    }
}